In [24]:
a="  abc   23 1    75 33  "
b=a.split(' ')
print(b)

['', '', 'abc', '', '', '23', '1', '', '', '', '75', '33', '', '']

In [2]:
c=' '.join()
print(c)

  abc   23 1    75 33

In [25]:
for i in b:
    if i=='':    
        b.remove(i)
print(b)

['abc', '23', '1', '', '', '75', '33', '', '']

In [12]:
c=' '.join(b)
print(c)

abc 23 1 75 33

In [23]:
d=list(filter(lambda x:x!='',b))
print(d)

['abc', '23', '1', '75', '33']

In [26]:
1|0

1

In [27]:
a=input('aaa:')

aaa:1111 10101 10001

In [28]:
print(a)

1111 10101 10001

In [29]:
type(a)

str

In [34]:
b=a.split()

In [35]:
b

['1111', '10101', '10001']

In [36]:
type(b)

list

In [37]:
print(b)

['1111', '10101', '10001']

In [42]:
for i in range(31):
    i=i+1
    print( i , bin(i))

1 0b1
2 0b10
3 0b11
4 0b100
5 0b101
6 0b110
7 0b111
8 0b1000
9 0b1001
10 0b1010
11 0b1011
12 0b1100
13 0b1101
14 0b1110
15 0b1111
16 0b10000
17 0b10001
18 0b10010
19 0b10011
20 0b10100
21 0b10101
22 0b10110
23 0b10111
24 0b11000
25 0b11001
26 0b11010
27 0b11011
28 0b11100
29 0b11101
30 0b11110
31 0b11111

In [43]:
msg = '%06.2f' % 3.14159
print(msg)

003.14

In [45]:
Card=[]
for i in range(5):
    Card.append([])
print(Card)

[[], [], [], [], []]

In [48]:
for i in range(8):
    Card[2].append(i)
print(Card)

[[], [], [0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7], [], []]

In [ ]:
a